body {
    margin-top: 0;
    color: #202124;
}

nav {
    margin-top: 18px;
    font-family: arial;
    min-width: 165px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    z-index: 986;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-user-select: none;
    font-size: 13px;
}

a {
    display:inline-block;
    text-decoration: none;
    text-align: justify; 
    margin-right: 13px; 
}

a:visited {
    color: #202124;
}

a:hover {
    text-decoration: underline;
    filter: brightness(2);
}

.sign-in {
    color: white;
    background-color:#4285f4;
    font-weight: bold ;
    border: none;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    outline: none;
}

main {
  margin-top: -220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding-top: 8px;
}

input {
    resize: horizontal;
    width: 440px;
    height: 37px;
    border: none;
    outline: none;
    font-size: 15px;
    margin-top: 20px;
}

.input-mask {
    border-style: solid;
    width: 550px;
    height: 42px;
    border-radius: 26px;
    border-color: #c8c6c6;
    border-width: .5px;
    margin-top: -42px;
}

.buttons {
    margin-top: 30px;
}

#mic {
    float:right;
    padding-top: 11px;
    padding-right: 19px;
}

#magnifying {
    filter:brightness(2);
    float:left;
    padding-top: 13px;
    padding-left: 17px;
}

.search {
    border: none;
    font-size: 15px;
    color:rgb(70, 68, 68);
    height: 34px;
    background-color: rgba(214, 211, 211, 0.233);
    padding-left: 15px;
    padding-right: 15px;
}

.search:hover {
    border-style: groove;
    border-width: 1px;
}

#gsearch {
    margin-right: 10px;
}

p {
    font-size: 13px;
    font-family: arial;
    padding-top: 20px;
}

footer {
    font-family: arial;
    color:rgb(110, 108, 108);
}

.bottom-links a {
    color:rgb(110, 108, 108);
    position: relative;
}

.bottom-links {
    background-color: rgba(199, 196, 196, 0.267);
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-width: 0.1px;
    height: 42px;
    position: fixed;
    bottom: 0%;
    width:100%;
    left: 0;
    font-size: 15px;
}


.bottom-location {
    background-color: rgba(199, 196, 196, 0.267);
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-width: 0.1px;
    border-bottom: none;
    height: 42px;
    position: fixed;
    bottom: 42px;
    width:100%;
    left: 0;
    
}

#links-right {
    position: relative;
    float: right;
    bottom: 5px;
    right: 10px;
}

.links-right:hover {
    color:rgb(54, 54, 54);
}

#links-left {
    position: relative;
    top: 12px;
    left: 20px;
}

.links-left:hover {
    color: rgb(54, 54, 54);
}

#location {
    font-size: 15px;
    position: relative;
    margin-top: 0;
    padding-top: 13px;
    padding-left: 20px;
}